{% extends "layout.html" %}
{% block content %}
<br>
<br>
<table class="table table-hover w-50">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Admin Level</th>
      {% if current_user.admin_lvl %}
      <th>Actions</th>
      {% endif %}
    </tr>
  </thead>
  {% for account in accounts %}
  <div class="modal fade" id="deleteModal{{ account.id }}" tabindex="-1" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="deleteModalLabel">Delete</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete <i>{{ account.username }}</i>?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <form action="{{ url_for('delete_admin_account', account_id=account.uuid) }}" method="post">
            <button type="submit" data-bs-dismiss="modal" class="btn btn-primary">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="promoteModal{{ account.id }}" tabindex="-1" aria-labelledby="promoteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="promoteModalLabel">Promote</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to promote <i>{{ account.username }}</i>?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <form action="{{ url_for('promote_admin_account', account_id=account.uuid) }}" method="post">
            <button type="submit" data-bs-dismiss="modal" class="btn btn-primary">Promote</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="demoteModal{{ account.id }}" tabindex="-1" aria-labelledby="demoteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="demoteModalLabel">Demote</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to demote <i>{{ account.username }}</i>?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <form action="{{ url_for('demote_admin_account', account_id=account.uuid) }}" method="post">
            <button type="submit" data-bs-dismiss="modal" class="btn btn-primary">Demote</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <tbody>
    <tr>
      <th>{{ account.id }}</th>
      <td>{{ account.username }}</td>
      <td>{{ account.admin_lvl }}</td>
      <th>
        {% if account.admin_lvl == 2 %}
        <a class="btn btn-danger btn-sm" href="{{ url_for('delete_admin_account', account_id=account.uuid) }}"
          data-bs-toggle="modal" data-bs-target="#deleteModal{{ account.id }}" role="button"><i
            class="bi-trash"></i></a>
        {% elif account.admin_lvl == 1 %}
        <a class="btn btn-danger btn-sm" href="{{ url_for('delete_admin_account', account_id=account.uuid) }}"
          data-bs-toggle="modal" data-bs-target="#deleteModal{{ account.id }}" role="button"><i
            class="bi-trash"></i></a>
        <a class="btn btn-info btn-sm" href="{{ url_for('demote_admin_account', account_id=account.uuid) }}"
          data-bs-toggle="modal" data-bs-target="#demoteModal{{ account.id }}" role="button"><i
            class="bi-arrow-down"></i></a>
        {% elif account.admin_lvl == 0 %}
        <a class="btn btn-danger btn-sm" href="{{ url_for('delete_admin_account', account_id=account.uuid) }}"
          data-bs-toggle="modal" data-bs-target="#deleteModal{{ account.id }}" role="button"><i
            class="bi-trash"></i></a>
        <a class="btn btn-info btn-sm" href="{{ url_for('promote_admin_account', account_id=account.uuid) }}"
          data-bs-toggle="modal" data-bs-target="#promoteModal{{ account.id }}" role="button"><i
            class="bi-arrow-up"></i></a>
        {% else %}
        <a class="btn btn-danger btn-sm disabled" role="button"><i class="bi-trash"></i></a>
        <a class="btn btn-info btn-sm disabled" role="button"><i class="bi-arrow-down"></i></a>
        {% endif %}
      </th>
    </tr>
  </tbody>
  {% endfor %}
</table>
{% endblock %}