{% extends "layout.html" %}
{% block content %}
<br>
<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>URL</th>
            <th>Status</th>
            <th>Watching Since</th>
            <th>Detected Ban</th>
            {% if current_user.is_authenticated %}
            <th>Actions</th>
            {% endif %}
        </tr>
    </thead>
    {% for account in accounts %}
    <tbody>
        <tr>
            <th>{{ account.id }}</th>
            <td>{{ account.display_name }}</td>
            <td><a href="{{ " https://steamcommunity.com/profiles/" + account.steam_id }}" target="_blank">{{
                    account.steam_id }}</a></td>
            {% if account.times_banned %}
            <td class="text-danger-emphasis">{{ account.times_banned }} times banned</td>
            {% else %}
            <td>Not banned</td>
            {% endif %}
            <td>{{ account.watching_since.strftime("%d.%m.%Y %H:%M:%S") }}</td>
            {% if account.banned_since %}
            <td>{{ account.banned_since.strftime("%d.%m.%Y %H:%M:%S") }}</td>
            {% else %}
            <td>Never</td>
            {% endif %}
            {% if current_user.is_authenticated %}
            <th>       
                <a class="btn btn-primary btn-sm" href="{{ url_for('edit', account_id=account.id) }}" role="button"><i class="bi-pencil-square"></i></a>
                <a class="btn btn-danger btn-sm" href="{{ url_for('delete', account_id=account.id) }}" role="button"><i class="bi-trash"></i></a>
            </th>
            {% endif %}
        </tr>
    </tbody>
    {% endfor %}
</table>
{% endblock %}